h2 {
    font-size: 2.1rem;
    margin-bottom: 5%;
    padding-top: 3%;
}

div {
    margin-top: 5%;
    border: solid rgba(255, 255, 255, 0.233) 1px;
    margin-left: 20%;
    margin-right: 20%;
}

h3 {
    margin-bottom: 1%;
    margin-top: 2%;
}

h4 {
    margin-bottom: 2%;
}